<!-- Footer -->
<footer id="footer">
    <div class="container-xl mt-5">
      <div class="container-fluid">
        <span class="footer-logo">
          <a class="text-decoration-none text-reset" href="/#">
            <img src="/images/LOGO.svg" alt="Notebook-logo" class="logo" />
            <strong>NOTEBOOK</strong>
          </a>
        </span>
        <span class="footer-link">
          <a class="footer-icon" href="/">Home</a>
          <a class="footer-icon" href="#about">About</a>
          <a class="footer-icon" href="#blog">Blog</a>
          <a class="footer-icon" href="mailto:sandeep.banoula@gmail.com">Contact</a>
        </span>
      </div>
      <hr />
      <p class="footer-text">
        © 2021 <a class="text-reset" href="/">NoteBook</a> All Right Reserved.
      </p>
    </div>
  </footer>