<!-- Footer -->
<footer id="footer">
  <div class="container-xl mt-5">
    <div class="d-sm-flex align-items-center">
      <span class="d-block pb-3 pb-sm-0">
        <a class="footer-logo d-flex d-sm-inline align-items-center justify-content-center text-reset pe-sm-4" href="/#">
          <img src="/images/logo.svg" alt="Notebook-logo" class="logo" />
          <strong>NOTEBOOK</strong>
        </a>
      </span>
      <span class="footer-link d-flex align-items-center justify-content-center">
        <a class="secondary-color ps-sm-4" href="#about">About</a>
        <a class="secondary-color ps-4" href="/">Home</a>
        <a class="secondary-color ps-4" href="#blog">Blog</a>
        <a class="secondary-color ps-4" href="mailto:sandeep.banoula@gmail.com">Contact</a>
      </span>
    </div>
    <hr />
    <div class="footer-text secondary-color pb-3 text-center text-sm-start">
      ©2022-23 <a class="text-reset" href="/">NoteBook</a> All Right Reserved.
    </div>
  </div>
</footer>