<%- include('partials/header'); -%>

<!-- Main-Section -->
<div class="container-xl">
  <!-- Navbar-Section -->
  <nav class="navbar navbar-expand navbar-light mt-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="/#">
        <img src="/images/LOGO.svg" alt="Notebook-logo" class="logo" />
        <strong>NOTEBOOK</strong>
      </a>
      <div class="ml-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login"
              >Login</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="students-tab"
        data-bs-toggle="tab"
        data-bs-target="#students"
        type="button"
        role="tab"
        aria-controls="students"
        aria-selected="true"
      >
        Students
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="oraganization-tab"
        data-bs-toggle="tab"
        data-bs-target="#oraganization"
        type="oraganization"
        role="tab"
        aria-controls="oraganization"
        aria-selected="false"
      >
        Oraganization/Institutes
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="students"
      role="tabpanel"
      aria-labelledby="students-tab"
    >
    <div class="text-center py-5">
      <h2>Students Sign Up</h2>
      <div class="mt-4">
          <a class="btn btn-outline-dark mt-3 py-2 px-4" href="/auth/google" role="button" style="text-transform:none">
            <img width="20px" class="mb-1 mx-1" alt="Google sign-in" src="images/google-icon.svg" />
            <span class="h5">Signup with Google</span>
          </a>
        </div>
    </div>
    </div>
    <div
      class="tab-pane fade"
      id="oraganization"
      role="tabpanel"
      aria-labelledby="oraganization-tab"
    >
      <div class="text-center py-5">
        <h2>Contact-Us</h2>
        <p>
          Email Us Your Quote! We are open for new Educational
          Organizations/Institutes.
        </p>
        <div class="mt-5">
          <a class="main-button" href="mailto:sandeep.banoula@gmail.com"
            >Email Now</a
          >
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/subfooter'); -%>
  <%- include('partials/footer'); -%>
</div>
